/* Employee List styles */

.view {
  background-color: rgb(156, 154, 154);
  width: 100px;
  border: none;
}
.view:focus {
  background-color: rgb(68, 66, 66);
}
.view:hover {
  background-color: rgb(68, 66, 66);
}
.edit {
  background-color: rgb(55, 55, 252);
  margin-left: 25px;
  width: 100px;
}
.edit:focus {
  background-color: darkblue;
}
.edit:hover {
  background-color: darkblue;
}
.delete {
  background-color: rgb(204, 5, 5);
  margin-left: 25px;
  width: 100px;
  border: darkred;
}
.delete:focus {
  background-color: darkred;
}
.delete:hover {
  background-color: darkred;
}
.empdetailtable {
  width: 80% !important;
  border-bottom: 1px solid black;
  float: none !important;
  margin-left: auto;
  margin-right: auto !important;
}
.addEmp {
  width: 70%;
  height: 50px;
  background-color: rgb(5, 124, 5);
}
.addEmp:focus {
  background-color: darkgreen;
}
.addEmp:hover {
  background-color: darkgreen;
}
.tableStyle {
  text-align: center;
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
