
.butdiv{
    border: 2px solid rgb(5, 5, 5);
    background-color: #f0f0f1;
    margin: auto;
    width: 1200px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 430px;
}